@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#details--section {
    display: grid;
    grid-template-columns: 1fr;    
    margin: 2rem 1rem;      
}


// mobile to desktop - responsive design
@media screen and (min-width: $breakpoint1) {
    #details--section {
        margin: 2rem;
    }
}