@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#details--section {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    justify-items: center;    
    margin: 0 auto;     
    min-height: 100vh;   
    
}

@media screen and (max-width: $breakpoint2) {
    #details--section {
        grid-template-columns: 1fr;
        
        margin: 2rem;
    }
}