@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#details--section {
    display: grid;
    grid-template-columns: 1fr;    
    margin: 2rem 1rem;      
}



// old media queries

/* @media screen and (max-width: $breakpoint2) {
    #details--section {
        grid-template-columns: 1fr;        
        margin: 2rem;
    }
}

@media screen and (max-width: $breakpoint4) {
    #details--section {
        justify-items: left;
        margin: 0;
    }
} */