@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#projects--section {    
    display: grid;
    justify-items: center;  
    padding-top: 5.625rem;    
}

#projects--section h2 {
    font-size: $h2-fontsize;    
    margin: 2rem auto;
}

#projects--section a {
    @include button-light;
    margin: 2rem auto;
}