@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#projects--section {    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;         
    gap: 6rem; 
    padding: 2rem 1rem;     
}

#projects--section h2 {
    font-size: $h2-fontsize;    
    margin: 0;  
    text-align: center;  
}

#more-projects-button, #more-projects-button-dark {
    @include button-light-secondary;
    margin: -4rem 0 10rem 0;
    width: 155px;
    text-align: center;    
}

#more-projects-button:hover {
    @include button-light-secondary-hover;    
}

#more-projects-button-dark:hover {
    @include button-secondary-dark-hover;    
}

// mobile to desktop - responsive design
@media screen and (min-width: $breakpoint2) {
    #projects--section {
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: $breakpoint3) {
    #projects--section {
        justify-items: center;
    }

    #more-projects-button, #more-projects-button-dark {
        margin: 4rem 0;
    }
}

@media screen and (min-width: $breakpoint4) {
    #projects--section {
        padding: 0;
        width: $width-desktop;
        margin: 4rem auto;
    }
}