@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#projects--section {    
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;      
    gap: 4rem;  
}

#projects--section h2 {
    font-size: $h2-fontsize;    
    margin: 2rem auto 4rem auto;
}

#more-projects-button {
    @include button-light-secondary;
    margin: 2rem auto;
}



