@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.project--card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
}


.img-light {
    width: 33rem;     
    border: 1px solid $black-color;   
    box-shadow: -12px 12px  $magenta-color; 
}

.img-dark {
    width: 33rem;     
    border: 1px solid $white-color;   
    box-shadow: -12px 12px  $pink-color; 
}

#details--container {
    width: 100%;
}


.project--card h3 {
    font-size: $h3-fontsize;
    margin-bottom: 1rem;
}

.project--card p {
    font-size: $body-fontsize;
    max-width: 40rem;
}

.tags--container {
    display: flex;
    flex-direction: row;
    margin: 1rem auto 2rem auto;
}

.tag {
    margin-right: 1rem;
    font-size: $tag-fontsize;
    font-weight: bold;
    box-shadow: -3px 3px $gray-color;
    padding-left: 0.2rem;
}

.button-light {
    @include button-light;
}

.button-dark {
    @include button-dark;
}

@media screen and (max-width: $breakpoint2) {
    .project--card {
        grid-template-columns: 1fr;        
    }
}

@media screen and (max-width: $breakpoint3) {
    #details--container {
        text-align: center;
    }

    .tags--container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .project--card img {
        max-width: 33rem;
        margin: auto 2rem;
    }
}