@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.project--card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 2rem;
    max-width: 82rem;    
}


.project--card img {
    width: 33rem;     
    border: 1px solid $black-color;     
}

#details--container {
    max-width: 30rem;
}


.project--card h3 {
    font-size: $h3-fontsize;
}

.project--card p {
    font-size: $body-fontsize;
}

.tags--container {
    display: flex;
    flex-direction: row;
    margin: 1rem auto 2rem auto;
}

.tag {
    margin-right: 1rem;
    font-size: $tag-fontsize;
}

.project--card button {
    @include hero-button-light;
}