@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.project--card {    
    width: 100%;
}

.img-light {
    width: 100%;   
    border: 1px solid $black-color;  
    margin-bottom: 1rem;  
    box-shadow: $box-shadow;
}

.img-dark {
    width: 100%;     
    border: 1px solid $white-color; 
    margin-bottom: 1rem;
    box-shadow: $box-shadow;       
}

#details--container {
    width: 100%;
}

.project--card h3 {
    font-size: $h3-fontsize;
    margin-bottom: 1rem;
}

.project--card p {
    font-size: $body-fontsize;
    max-width: 40rem;
}

.tags--container-main {
    display: flex;
    flex-direction: row;
    margin: 1rem auto 3rem auto;
}

.tag {
    margin-right: 1rem;
    font-size: $tag-fontsize;
    font-weight: bold;
    box-shadow: -3px 3px $gray-color;
    padding-left: 0.2rem;
}

.button-light {
    @include button-light;
}

.button-light:hover {
    @include button-light-hover;
}

.button-dark {
    @include button-dark;
}

.button-dark:hover {
    @include button-dark-hover;
}

@media screen and (min-width: $breakpoint3) {
    .project--card {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 4rem;
    }

    .img-light {
        box-shadow: -12px 12px  $magenta-color;
        margin-left: 12px;
    }

    .img-dark {
        box-shadow: -12px 12px  $pink-color;
        margin-left: 12px;
    }
}
