@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.project--card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
}


.project--card img {
    width: 33rem;     
    border: 1px solid $black-color;   
    box-shadow: -12px -12px  $magenta-color; 
}

#details--container {
    width: 100%;
}


.project--card h3 {
    font-size: $h3-fontsize;
    margin-bottom: 1rem;
}

.project--card p {
    font-size: $body-fontsize;
}

.tags--container {
    display: flex;
    flex-direction: row;
    margin: 1rem auto 2rem auto;
}

.tag {
    margin-right: 1rem;
    font-size: $tag-fontsize;
}

.project--card a {
    @include button-light;
}