@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.nav {  
    position: absolute;    
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $vertical-gradient-nav;    
    font-size: $h3-fontsize;
    font-weight: bold; 
    z-index: 1;
    display: none;      
}

.dark {
    background: $vertical-gradient-nav-dark;
}

.animateMenu {
    top: -1000px;
    display: block;
    transition: all 0.5s ease-in-out;
}

.open {
    display: block; 
    top: 0;   
}


nav ul {
    list-style-type: none;
    padding-top: 2rem;
    text-align: center;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.menu-link {
    text-decoration: none;
    color: $black-color;  
    transition: all 0.2s ease-in-out;     
}

.nav .menu-link-dark {
    text-decoration: none;
    color: $white-color;
    transition: all 0.2s ease-in-out;     
}

.nav a {
    text-decoration: none;
    color: $black-color;  
    transition: all 0.2s ease-in-out; 
}

.dark a {
    text-decoration: none;
    color: $white-color;
    transition: all 0.2s ease-in-out; 
}

nav li {
    padding-bottom: 1rem;
}

.nav a:hover {
    color: $magenta-color;
    text-decoration: underline;
}

.dark a:hover {
    color: $pink-color;
    text-decoration: underline;
}

#close--nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: $h3-fontsize;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: border  0.2s ease-in-out;
    transition: box-shadow  0.2s ease-in-out;
}

#close--nav-dark {
    position: absolute;
    color: $white-color;
    right: 2rem;
    top: 2rem;
    font-size: $h3-fontsize;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: border  0.2s ease-in-out;
    transition: box-shadow  0.2s ease-in-out;
}

#close--nav:hover {
    border: 1px solid black;
    box-shadow: $box-shadow;
    border-radius: 5px;
}

#close--nav-dark:hover {
    border: 1px solid $white-color;
    box-shadow: $box-shadow-light;
    border-radius: 5px;
}

.access--container {    
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: 0 auto;
}

.access--button {
    @include button-access;    
}

#mode--button {
    margin-bottom: 0.5rem;
    margin-top: 2rem;    
    background-color: $white-color;
    border: 2px solid $black-color;
    color: $black-color;
    transition: all 0.2s ease-in-out;         
}

#mode--button-dark {
    margin-bottom: 0.5rem;
    margin-top: 2rem;    
    background-color: $white-color;
    border: 2px solid $darkgray-color;
    color: $black-color;
    transition: all 0.2s ease-in-out;         
}

#mode--button:hover {
    background-color: $black-color;
    border: 2px solid $black-color;
    color: $white-color;
}

#mode--button-dark:hover {
    background-color: $darkgray-color;    
    color: $white-color;
}

#animate--button {
    background-color: $white-color;
    color: $black-color;
    border: 2px solid $pink-color;
    transition: all 0.2s ease-in-out;
}

#animate--button-dark {
    background-color: $white-color;
    color: $black-color;
    border: 2px solid $pink-color;
    transition: all 0.2s ease-in-out;
}

#animate--button:hover {
    background-color: $magenta-color;    
    color: $white-color;
}

#animate--button-dark:hover {
    background-color: $pink-color;    
    color: $darkgray-color;
}

.icon {
    width: 1rem;
}

// from mobile to desktop - responsive design
@media screen and (min-width: $breakpoint3) {
    .nav {      
        display: none;  
        position: fixed;        
        top: 0;
        right: -400px;
        width: 350px;
        height: 500px;
        background: none;
        background-color: $gray-color;
        border: 1px $black-color solid;
        border-radius: 10px;
        padding-top: 2rem;       
        box-shadow: $box-shadow; 
        z-index: 99999;
    }

    .dark {        
        background: none;
        background-color: $darkblue-color;
        border: 1px $white-color solid;        
    }

    .open {
        right: 0;
    }
}
  