@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#nav {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 40%;
    background-color: $gray-color;
    border: 1px $black-color solid;
    border-radius: 20px;
    padding-top: 2rem;
    font-size: $h3-fontsize;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: $black-color;  
    transition: color 0.2s ease-in-out;  
}

nav li {
    padding-bottom: 1rem;
}

nav a:hover {
    color: $magenta-color;
}

#close--nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: $h3-fontsize;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.access--container {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.access--button {
    @include button-access;
}

#mode--button {
    margin-bottom: 0.5rem;
    background-color: $black-color;
    color: $white-color; 
    transition: background-color 0.2s ease-in-out;   
}

#animate--button {
    background-color: $white-color;
    color: $black-color;
    border: 2px solid $magenta-color;
    transition: all 0.2s ease-in-out;
}

#mode--button:hover {
    background-color: rgb(64, 64, 64);
}

#animate--button:hover {
    background-color: $magenta-color;    
    color: $white-color;
}




  