@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#hero--section {
    height: 100vh;
    width: $width-mobile;   
    margin: 0; 
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;   
}

#hero--container {
    grid-row: 2;      
    padding: 2rem 1rem;
    width: 100%;         
}

#hero--container h1 {
    font-size: $h1-fontsize-mobile; 
    margin: 0;    
}

#hero--container p {
    font-size: $h3-fontsize;    
    margin: 0 0 2rem 0;
    text-wrap: balance;
}

#span-light {
    color: $magenta-color;
    font-weight: bold;
}

#span-dark {
    color: $pink-color;
    font-weight: bold;
}

#hero--button {
    @include button-light;
}

#hero--button:hover {
    @include button-light-hover;
}

#hero--button-dark {
    @include button-dark;
}

#hero--button-dark:hover {
    @include button-dark-hover;
}

// from mobile to desktop - responsive design
@media screen and (min-width: $breakpoint2) {
    #hero--container {
        padding: 2rem 3rem;
    }
    
    #hero--container h1 {
        font-size: $h1-fontsize-desktop;
    }
}

@media screen and (min-width: $breakpoint3) {
    #hero--container {
        width: 680px; 
        padding: 2rem 6rem;       
    }
}
// add in illustration at breakpoint3





