@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#hero--section {
    height: 100vh;
    width: $width-mobile;   
    margin: 0; 
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;   
}

#hero--container {
    grid-row: 1;      
    padding: 2rem 1rem;
    width: 100%;         
}

#hero--container h1 {
    font-size: $hero-h1-fontsize-mobile; 
    margin: 0;    
}

#hero--container p {
    font-size: $h3-fontsize;    
    margin: 0 0 2rem 0;
    text-wrap: balance;    
}

.graphic {
    display: none;
}

.animateHero {
    display: none;
}

#span-light {
    color: $magenta-color;
    font-weight: bold;
}

#span-dark {
    color: $pink-color;
    font-weight: bold;
}

#hero--button {
    @include button-light;
}

#hero--button:hover {
    @include button-light-hover;
}

#hero--button-dark {
    @include button-dark;
}

#hero--button-dark:hover {
    @include button-dark-hover;
}

// from mobile to desktop - responsive design
@media screen and (min-width: $breakpoint2) {
    #hero--container {
        padding: 2rem 3rem;
    }
    
    #hero--container h1 {
        font-size: $hero-h1-fontsize-desktop;
    }
}

@media screen and (min-width: $breakpoint3) {
    #hero--container {        
        margin: 2rem 6rem; 
        width: 680px;          
    }

    #hero--container p {
        text-wrap: wrap;
    }

}

// add in illustration at breakpoint4
@media screen and (min-width: $breakpoint4) {
    
    #hero--container {
        grid-row: 1;
        display: grid;
        grid-template-columns: 6fr 2fr;
        align-items: center;
        margin: 0;
        width: 1000px;
        margin-top: 4rem;
    }

    #hero--content p {
        max-width: 680px;
    }

    .graphic {
        width: 100%;
        display: block;
        margin-bottom: -60px;
        transform: rotate(-10deg); 
        transition: 0.8s ease-in-out; 
        border-radius: 8px;      
    }

    .animateHero:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 20px #0ff;
        cursor: pointer;
    }
}





