@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#hero--section {
    height: 120vh;
    width: $width-desktop;   
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: 1fr;   
}

#hero--container {
    margin: 20% auto;
    max-width: 38rem;
}

#hero--container h1 {
    font-size: $h1-fontsize;
    margin: 0;    
}

#hero--container p {
    font-size: $h3-fontsize;    
    margin: 1rem auto 2rem auto;
}

#span-light {
    color: $magenta-color;
    font-weight: bold;
}

#span-dark {
    color: $pink-color;
    font-weight: bold;
}

#hero--button {
    @include button-light;
}

#hero--button:hover {
    @include button-light-hover;
}

#hero--button-dark {
    @include button-dark;
}

#hero--button-dark:hover {
    @include button-dark-hover;
}

// mobile
@media screen and (max-width: $breakpoint2) {
    #hero--container {
        margin: 25% auto;
    }
}

@media screen and (max-width: $breakpoint3) {
    #hero--container {
        margin: 30% auto;
    }
}

@media screen and (max-width: $breakpoint4) {
    #hero--section {
        height: 100vh;
        width: $width-mobile;
    }

    #hero--container {
        margin: 10rem 2rem;
        
    }

    #hero--container p {
        margin: 1rem 0 2rem 0;
        max-width: 400px;
    }
}





