@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#skills--section {
    max-width: 40rem;
}

#list--container {
    display: flex;
    flex-direction: row;
}

#skills--section h2 {
    font-size: $h2-fontsize;
    margin-bottom: 2rem;
}

#skills--section h4 {
    font-size: $body-fontsize;
    margin: 1rem auto;
}

#skills--section ul {
    padding-left: 1rem;
}

#second-list {
    margin-left: 4rem;
}