@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#skills--section {
    max-width: 40rem;
}

#list--container {
    display: flex;
    flex-direction: row;
}

#skills--section h2 {
    font-size: $h2-fontsize;
}

#skills--section h4 {
    font-size: $body-fontsize;
    margin: 1rem auto;
}