@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#about--section {      
    scroll-margin-top: 6rem; 
    margin: 2rem 0; 
    min-height: 100vh;
    width: 100%;
    padding: 0 1rem 4rem 1rem;
}

.about--container {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}

.about--background {
    background-color: $gray-color;
}

.about--background-dark {
    background-color: $darkblue-color;       
}

.about--content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

#about--section h2 {
    font-size: $h2-fontsize;
    margin-bottom: 4rem;      
    text-align: center;
}

.danielle-pic {
    border: 1px $black-color solid;
    width: 80%;
    margin: 0 auto;
}

.danielle-pic-dark {
    border: 1px $white-color solid;
    width: 80%;
    margin: 0 auto;
}

#about--section p {
    font-size: $body-fontsize;
    margin: 1rem 0 2rem 0;    
}

#h4-light {
    color: $magenta-color;
}

#h4-dark {
    color: $pink-color;
}

#resume-button-light {
    @include button-light; 
    align-self: center;
    margin-top: 2rem;
}

#resume-button-light:hover {
    @include button-light-hover;
}

#resume-button-dark {
    @include button-dark; 
    align-self: center;
    margin-top: 2rem;   
}

#resume-button-dark:hover {
    @include button-dark-hover;
}

@media screen and (min-width: $breakpoint2) {
    #about--section {
        padding: 0 3rem;       
    }

    #about--section h2 {
        margin-bottom: 4rem; 
        padding-top: 4rem;  
    }
}

@media screen and (min-width: $breakpoint3) {
    .about--container {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 4rem;
    }

    .about--content-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .about--content-container img {
        max-width: 400px;
        width: 100%;        
    }

    #about--section h2 {
        margin: 0 auto 2rem auto;
    }

    #h4-dark, #h4-light, #about--section p {
        font-size: 1rem;
    }

    #about--section h2 {
        margin-bottom: 4rem; 
        padding-top: 4rem;  
    }
}

@media screen and (min-width: $breakpoint4) {
    .about--content-container {
        grid-template-columns: 1fr 2fr;
    }

}



