@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#about--section {
    max-width: 30rem;
}

#about--section h2 {
    font-size: $h2-fontsize;
    margin-bottom: 2rem;
}

#about--section p {
    font-size: $body-fontsize;
    margin: 1rem auto 2rem auto;
}

#about--section a {
    @include button-light;
}

@media screen and (max-width: $breakpoint3) {
    #about--section {
        width: $width-mobile;
        
        
    }
    
}
