@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#contact--section {
    min-height: 90vh;    
}

.contact--content {
    margin: 10rem auto 1rem auto;  
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;  
    gap: 4rem;
}

#contact--section h2 {
    font-size: $h2-fontsize; 
    margin-bottom: 2rem;   
}

#contact--section p {
    font-size: $body-fontsize;
    text-align: center;
}

#link-light{    
    color: $black-color;
}

#link-dark {    
    color: $white-color;
}

.social--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
}

.social--icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}

.social--icon img {
    height: 3rem;    
}

.social--text {
    text-decoration: none;  
    color: $black-color; 
}

.social--text-dark {
    text-decoration: none; 
    color: $white-color;   
}

.email-icon {
    width: 40px;
    margin-right: 5px;
}