@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#contact--section {
    min-height: 60vh;  
    width: 100%; 
    margin: 0; 
}

.contact--content {      
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;  
    gap: 2.5rem;
    padding: 0 1rem;
}

#contact--section h2 {
    font-size: $h2-fontsize; 
    margin: 0 0 1rem 0;
}

#contact--section p {
    font-size: $body-fontsize;
    text-align: center;
    margin: 0;
    text-wrap: balance;
}

#link-light{    
    color: $black-color;
    transition: color 0.2s ease-in-out;
}

#link-dark {    
    color: $white-color;
    transition: color 0.2s ease-in-out;
}

.social--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social--icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    transition: box-shadow 0.2s ease-in-out;   
}

.social--icon-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    transition: box-shadow 0.2s ease-in-out;   
}

.social--icon img {
    height: 3rem;    
}

.social--icon-dark img {
    height: 3rem;    
}

.social--text {
    text-decoration: none;  
    color: $black-color; 
}

.social--text-dark {
    text-decoration: none; 
    color: $white-color;   
}

.email-icon {
    width: 40px;
    margin-right: 5px;
}

.social--icon:hover {
    box-shadow: -3px 3px $magenta-color;
}

.social--icon-dark:hover {
    box-shadow: -3px 3px $pink-color;
}

#link-light:hover {    
    color: $magenta-color;
}
#link-dark:hover {    
    color: $pink-color;
}

// mobile to desktop - responsive design
@media screen and (min-width: $breakpoint1) {
    .contact--content {
        padding: 0 2rem;
    }
}