@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.navbar--background {
    background-image: $vertical-gradient-nav;
    height: 5.625rem;   
    width: 100%;     
    position: fixed;
    top: 0;
}

.navbar--content {
    width: $width-desktop;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile {
    height: 3.875rem;
    border-radius: 50%;
    border: $magenta-color 1px solid; 
    margin: 1rem 2rem;
    
}

.nav--title {
    font-size: $navbar-fontsize;   
}

.main--menu {
    list-style-type: none;   
    font-size: $navbar-fontsize;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;  
}

.menu--items {    
    margin-left: auto;
    margin-right: 2rem; 
    display: flex;
    flex-direction: row;
    gap: 1.5rem;   
}

.navbar--content li {
    cursor: pointer;
}

.navbar--content a {
    text-decoration: none;
    color: $black-color;
}

.access--button-desktop {
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;   
    cursor: pointer; 
    /* font-size: $navbar-fontsize; */
}

#mode--button-desktop {
    border: 1px solid $black-color;
    transition: all 0.2s ease-in-out;
    width: 120px;
}

#animate--button-desktop {
    border: 1px solid $magenta-color;
    transition: all 0.2s ease-in-out;
    width: 150px;
}

.icon {
    width: 1rem;
}

#mode--button-desktop:hover {
    background-color: $black-color;
    color: $white-color;
}

#animate--button-desktop:hover {
    background-color: $magenta-color;
    color: $white-color;
}

// mobile menu button
#menu--button {
    margin-left: auto;
    margin-right: 2rem;
    font-size: $navbar-fontsize;   
    cursor: pointer;
    border: 2px solid $magenta-color;
    background-color: transparent;
    border-radius: 10px;
    padding: 0.5rem;
}



@media screen and (max-width: $breakpoint1) {
    .navbar--content {
        width: $width-mobile;
    }
    
}

@media screen and (max-width: $breakpoint2) {
    .navbar--background {
        right: 0;
    }
    
    .navbar--content {
        width: $width-mobile;
        margin: 0;
    }
    
    .menu--items {
        display: none;
    }
}


