@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.navbar--background {
    background-image: $vertical-gradient-nav;
    min-height: 5.625rem;   
    width: 100%;  
    margin: 0; 
    display: flex;
    flex: row;
    align-items: center;     
}

.navbar--background-dark {
    min-height: 5.625rem;   
    width: 100%; 
    margin: 0;
}

.navbar--content {
    width: $width-mobile;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile {
    height: 3.875rem;
    border-radius: 50%;
    border: $magenta-color 1px solid; 
    margin-right: 1rem;    
}

#profile-dark {
    height: 3.875rem;
    border-radius: 50%;
    border: $pink-color 1px solid; 
    margin: 1rem;    
}

.nav--title {
    font-size: $navbar-fontsize-mobile;  
    text-decoration: none;
    color: $black-color;     
    transition: all 0.2s ease-in-out;
    margin: 0;
}

.nav--title:hover {    
    color: $magenta-color;
}

.nav--title-dark {
    font-size: $navbar-fontsize-mobile;  
    text-decoration: none;
    color: $white-color;    
    transition: all 0.2s ease-in-out;
    margin: 0;
}

.nav--title-dark:hover {    
    color: $pink-color;
}

.menu--items {
    display: none;
}


// mobile menu button
#menu--button {
    margin-left: auto;    
    font-size: $navbar-fontsize-mobile;   
    cursor: pointer;
    border: 2px solid $magenta-color;
    background-color: transparent;
    border-radius: 10px;
    padding: 0.5rem;    
    box-shadow: $box-shadow;   
    transition: color 0.2s ease-in-out;
}

#menu--button:hover {
    color: $magenta-color;
    background-color: $gray-color;
}

#menu--button-dark {
    margin-left: auto;    
    color: $white-color;
    font-size: $navbar-fontsize-mobile;   
    cursor: pointer;
    border: 2px solid $pink-color;
    background-color: transparent;
    border-radius: 10px;
    padding: 0.5rem;    
    box-shadow: $box-shadow; 
    transition: color 0.2s ease-in-out;  
}

#menu--button-dark:hover {
    color: $pink-color;
}

// responsive design
@media screen and (min-width: $breakpoint2) {
    .nav--title, .nav--title-dark, #menu--button, #menu--button-dark  {
        font-size: $navbar-fontsize-desktop;
    }  
    
    .navbar--content {
        padding: 0 2rem;
    }    
}

/* .main--menu {    
    display: flex;
    flex-direction: row;
    gap: 1.5rem;  
} */

/* .main--menu {    
    list-style-type: none;   
    font-size: $navbar-fontsize;        
} */

/* .menu--items {    
    margin-left: auto;
    margin-right: 2rem; 
    display: flex;
    flex-direction: row;
    gap: 1.5rem;   
}

.navbar--content li {
    cursor: pointer;
}

.menu-light {
    text-decoration: none;
    color: $black-color;
    transition: all 0.2s ease-in-out;
}

.menu-light:hover {
    text-decoration: underline;
    color: $magenta-color;    
}

.menu-dark {
    text-decoration: none;
    color: $white-color;
    transition: all 0.2s ease-in-out;
}

.menu-dark:hover {
    text-decoration: none;
    color: $pink-color;
}

.access--button-desktop {
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;   
    cursor: pointer;     
}


#mode--button-desktop {
    border: 1px solid $black-color;
    transition: all 0.2s ease-in-out;
    width: 120px;
}

#mode--button-desktop-dark {
    border: 1px solid $white-color;
    transition: all 0.2s ease-in-out;
    width: 120px;
    color: $white-color;
}

#animate--button-desktop {
    border: 1px solid $magenta-color;
    transition: all 0.2s ease-in-out;
    width: 150px;
}

#animate--button-desktop-dark {
    border: 1px solid $pink-color;
    transition: all 0.2s ease-in-out;
    width: 150px;
    color: $white-color;
}

.icon {
    width: 1rem;
}

#mode--button-desktop:hover {
    background-color: $black-color;
    color: $white-color;
}

#mode--button-desktop-dark:hover {
    background-color: $white-color;
    color: $black-color;
}

#animate--button-desktop:hover {
    background-color: $magenta-color;
    color: $white-color;
}

#animate--button-desktop-dark:hover {
    background-color: $magenta-color;
    color: $white-color;
} */





// old media queries

/* @media screen and (max-width: $breakpoint1) {
    .navbar--content {
        width: 100vw;
    }    
}

@media screen and (max-width: $breakpoint2) {
    .navbar--background {
        right: 0;
    }
    
    .navbar--content {        
        margin: 0;
    }
    
    .menu--items {
        display: none;
    }

    #menu--button, #menu--button-dark {
        display: block;
    }
}

@media screen and (max-width: $breakpoint4) {
    #menu--button {
        margin-left: auto;
        margin-right: 2rem;
    }

    #profile {
        margin: 1rem;
    }
} */


