@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

#navbar--background {
    background-image: $vertical-gradient-nav;
    height: 5.625rem;   
    width: 100%; 
}

#navbar--content {
    max-width: 82rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar--content img {
    height: 3.875rem;
    border-radius: 50%;
    border: $magenta-color 1px solid; 
    margin: 1rem 2rem;
}

#navbar--content p {
    font-size: $navbar-fontsize;
    
}

#navbar--content button {
    margin-left: auto;
    margin-right: 2rem;
    font-size: $navbar-fontsize;
    font-family: $primary-font;
}