@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.navbar--background {
    background-image: $vertical-gradient-nav;
    height: 5.625rem;   
    width: 100%;         
}

.navbar--background-dark {
    height: 5.625rem;   
    width: 100%; 
}

.navbar--content {
    width: $width-desktop;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile {
    height: 3.875rem;
    border-radius: 50%;
    border: $magenta-color 1px solid; 
    margin: 1rem 2rem;    
}

#profile-dark {
    height: 3.875rem;
    border-radius: 50%;
    border: $pink-color 1px solid; 
    margin: 1rem 2rem;    
}

.nav--title {
    font-size: $navbar-fontsize;  
    text-decoration: none;
    color: $black-color;
    cursor: pointer; 
    transition: all 0.2s ease-in-out;
}

.nav--title:hover {
    font-size: $navbar-fontsize;  
    text-decoration: none;
    color: $magenta-color;
}

.nav--title-dark {
    font-size: $navbar-fontsize;  
    text-decoration: none;
    color: $white-color;
    cursor: pointer; 
    transition: all 0.2s ease-in-out;
}

.nav--title-dark:hover {
    font-size: $navbar-fontsize;  
    text-decoration: none;
    color: $pink-color;
}

.main--menu {
    list-style-type: none;   
    font-size: $navbar-fontsize;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;  
}

.menu--items {    
    margin-left: auto;
    margin-right: 2rem; 
    display: flex;
    flex-direction: row;
    gap: 1.5rem;   
}

.navbar--content li {
    cursor: pointer;
}

.menu-light {
    text-decoration: none;
    color: $black-color;
    transition: all 0.2s ease-in-out;
}

.menu-light:hover {
    text-decoration: underline;
    color: $magenta-color;    
}

.menu-dark {
    text-decoration: none;
    color: $white-color;
    transition: all 0.2s ease-in-out;
}

.menu-dark:hover {
    text-decoration: none;
    color: $pink-color;
}

.access--button-desktop {
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;   
    cursor: pointer;     
}


#mode--button-desktop {
    border: 1px solid $black-color;
    transition: all 0.2s ease-in-out;
    width: 120px;
}

#mode--button-desktop-dark {
    border: 1px solid $white-color;
    transition: all 0.2s ease-in-out;
    width: 120px;
    color: $white-color;
}

#animate--button-desktop {
    border: 1px solid $magenta-color;
    transition: all 0.2s ease-in-out;
    width: 150px;
}

#animate--button-desktop-dark {
    border: 1px solid $pink-color;
    transition: all 0.2s ease-in-out;
    width: 150px;
    color: $white-color;
}

.icon {
    width: 1rem;
}

#mode--button-desktop:hover {
    background-color: $black-color;
    color: $white-color;
}

#mode--button-desktop-dark:hover {
    background-color: $white-color;
    color: $black-color;
}

#animate--button-desktop:hover {
    background-color: $magenta-color;
    color: $white-color;
}

#animate--button-desktop-dark:hover {
    background-color: $magenta-color;
    color: $white-color;
}

// mobile menu button
#menu--button {
    margin-left: auto;
    margin-right: 2rem;
    font-size: $navbar-fontsize;   
    cursor: pointer;
    border: 2px solid $magenta-color;
    background-color: transparent;
    border-radius: 10px;
    padding: 0.5rem;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
}

#menu--button-dark {
    margin-left: auto;
    margin-right: 2rem;
    color: $white-color;
    font-size: $navbar-fontsize;   
    cursor: pointer;
    border: 2px solid $pink-color;
    background-color: transparent;
    border-radius: 10px;
    padding: 0.5rem;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
}

// responsive design
@media screen and (max-width: $breakpoint1) {
    .navbar--content {
        width: $width-mobile;
    }    
}

@media screen and (max-width: $breakpoint2) {
    .navbar--background {
        right: 0;
    }
    
    .navbar--content {
        width: $width-mobile;
        margin: 0;
    }
    
    .menu--items {
        display: none;
    }

    #menu--button {
        display: block;
    }
}


