@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar--background {
  background-image: linear-gradient(180deg, #E7E7E7, #FFFFFF);
  min-height: 5.625rem;
  width: 100%;
  margin: 0;
  display: flex;
  flex: row;
  align-items: center;
}

.navbar--background-dark {
  min-height: 5.625rem;
  width: 100%;
  margin: 0;
}

.navbar--content {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile {
  height: 3.875rem;
  border-radius: 50%;
  border: #A60067 1px solid;
  margin-right: 1rem;
}

#profile-dark {
  height: 3.875rem;
  border-radius: 50%;
  border: #FFA9F9 1px solid;
  margin: 1rem;
}

.nav--title {
  font-size: 1rem;
  text-decoration: none;
  color: #131B23;
  transition: all 0.2s ease-in-out;
  margin: 0;
}

.nav--title:hover {
  color: #A60067;
}

.nav--title-dark {
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
  margin: 0;
}

.nav--title-dark:hover {
  color: #FFA9F9;
}

.menu--items {
  display: none;
}

#menu--button {
  margin-left: auto;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #A60067;
  background-color: transparent;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: color 0.2s ease-in-out;
}

#menu--button:hover {
  color: #A60067;
  background-color: #E7E7E7;
}

#menu--button-dark {
  margin-left: auto;
  color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #FFA9F9;
  background-color: transparent;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: color 0.2s ease-in-out;
}

#menu--button-dark:hover {
  color: #FFA9F9;
}

@media screen and (min-width: 500px) {
  .nav--title, .nav--title-dark, #menu--button, #menu--button-dark {
    font-size: 1.5rem;
  }
  .navbar--content {
    padding: 0 2rem;
  }
}
/* .main--menu {    
    display: flex;
    flex-direction: row;
    gap: 1.5rem;  
} */
/* .main--menu {    
    list-style-type: none;   
    font-size: $navbar-fontsize;        
} */
/* .menu--items {    
    margin-left: auto;
    margin-right: 2rem; 
    display: flex;
    flex-direction: row;
    gap: 1.5rem;   
}

.navbar--content li {
    cursor: pointer;
}

.menu-light {
    text-decoration: none;
    color: $black-color;
    transition: all 0.2s ease-in-out;
}

.menu-light:hover {
    text-decoration: underline;
    color: $magenta-color;    
}

.menu-dark {
    text-decoration: none;
    color: $white-color;
    transition: all 0.2s ease-in-out;
}

.menu-dark:hover {
    text-decoration: none;
    color: $pink-color;
}

.access--button-desktop {
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;   
    cursor: pointer;     
}


#mode--button-desktop {
    border: 1px solid $black-color;
    transition: all 0.2s ease-in-out;
    width: 120px;
}

#mode--button-desktop-dark {
    border: 1px solid $white-color;
    transition: all 0.2s ease-in-out;
    width: 120px;
    color: $white-color;
}

#animate--button-desktop {
    border: 1px solid $magenta-color;
    transition: all 0.2s ease-in-out;
    width: 150px;
}

#animate--button-desktop-dark {
    border: 1px solid $pink-color;
    transition: all 0.2s ease-in-out;
    width: 150px;
    color: $white-color;
}

.icon {
    width: 1rem;
}

#mode--button-desktop:hover {
    background-color: $black-color;
    color: $white-color;
}

#mode--button-desktop-dark:hover {
    background-color: $white-color;
    color: $black-color;
}

#animate--button-desktop:hover {
    background-color: $magenta-color;
    color: $white-color;
}

#animate--button-desktop-dark:hover {
    background-color: $magenta-color;
    color: $white-color;
} */
/* @media screen and (max-width: $breakpoint1) {
    .navbar--content {
        width: 100vw;
    }    
}

@media screen and (max-width: $breakpoint2) {
    .navbar--background {
        right: 0;
    }

    .navbar--content {        
        margin: 0;
    }

    .menu--items {
        display: none;
    }

    #menu--button, #menu--button-dark {
        display: block;
    }
}

@media screen and (max-width: $breakpoint4) {
    #menu--button {
        margin-left: auto;
        margin-right: 2rem;
    }

    #profile {
        margin: 1rem;
    }
} *//*# sourceMappingURL=navbar.css.map */