@import '../../sassStyles/animations';
@import '../../sassStyles/typography';
@import '../../sassStyles/variables';

.footer {
    background-color: $magenta-color;
    color: $white-color;
    width: 100%;
    text-align: center;
    min-height: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    margin: 0;
}

.footer-dark {
    background-color: $pink-color;
    color: $black-color;
    width: 100%;
    text-align: center;
    min-height: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    margin: 0;
}