@import './animations';
@import './typography';
@import './variables';

.page {
    background-color: $white-color;
    color: $black-color;
}

.page-dark {
    background-color: $darkgray-color;
    color: $white-color;
}

.page--container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;    
    gap: 2rem;
    padding: 0 1rem;
}

h1 {
    padding-top: 4rem;
    font-size: $h1-fontsize-mobile;
}

h2 {
    font-size: $h3-fontsize;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;   
}

.project-video {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    border: 1px solid $magenta-color;
}

.project-video-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    border: 1px solid $pink-color;
}

.tags--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tag {
    margin-right: 1rem;
    font-size: $tag-fontsize;
    font-weight: bold;
    box-shadow: -3px 3px $gray-color;
    padding-left: 0.2rem;
}

ul li {
    text-align: left;
}

p {
    text-align: left;
}

.repo {
    @include button-light-secondary;
    width: 170px;
    text-align: center;    
}

.repo:hover {
    @include button-light-secondary-hover;    
}

.repo-dark {
    @include button-light-secondary;
    width: 170px;
    text-align: center;    
}

.repo-dark:hover {
    @include button-secondary-dark-hover;    
}

#top--button {
    margin-top: 2rem;
}

.next-project {
    @include button-light;
    width: 170px;
    margin-bottom: 4rem;    
}

.next-project:hover {
    @include button-light-hover;
}

.next-project p {
    text-align: center;
}

.next-project-dark {
    @include button-dark;
    width: 170px; 
    margin-bottom: 4rem;   
}

.next-project-dark:hover {
    @include button-dark-hover;
}

.next-project-dark p {
    text-align: center;
}

// mobile to desktop responsiveness
@media screen and (min-width: $breakpoint1) {
    .page--container {
        padding: 0 2rem;
    }

    .bullets {
        width: 80%;
    }

    h1 {
        font-size: $h1-fontsize-desktop;
    }

    h2 {
        margin-top: 2rem;
    }
}

@media screen and (min-width: $breakpoint3) {
    .page--container {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: $breakpoint4) {
    .wrapper {
        width: 80%;
        padding-bottom: 45%;       
    }

    h1 {
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: $breakpoint5) {
    .page--container {
        width: 60%;
    }
}