@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font families
$primary-font: 'Poppins', sans-serif;


// font sizes
$hero-h1-fontsize-desktop: 3.5rem;
$hero-h1-fontsize-mobile: 3rem;
$h1-fontsize-desktop: 2rem;
$h1-fontsize-mobile: 1.75rem;
$h2-fontsize: 2rem;
$h3-fontsize: 1.5rem;
$body-fontsize: 1rem;
$tag-fontsize: 0.875rem;
$navbar-fontsize-desktop: 1.5rem;
$navbar-fontsize-mobile: 1rem;





