@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// font families
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Arial', sans-serif;

// font sizes
$h1-fontsize: 3.5rem;
$h2-fontsize: 2rem;
$h3-fontsize: 1.5rem;
$body-fontsize: 1rem;
$tag-fontsize: 0.875rem;
$navbar-fontsize: 1.5rem;





