// light mode color palette
$white-color: #FFFFFF;
$gray-color: #E7E7E7;
$black-color: #131B23;
$magenta-color: #A60067;
$pink-color: #FFA9F9;
$vertical-gradient-light: linear-gradient(180deg, $pink-color, $magenta-color);
$vertical-gradient-nav: linear-gradient(180deg, $gray-color, $white-color);


// dark mode color additions
$darkgray-color: #3E4B57;
$yellow-color: #FFF7AD;
$horizontal-gradient-dark: linear-gradient(90deg, $yellow-color, $pink-color);
$vertical-gradient-dark: linear-gradient(180deg, $yellow-color, $pink-color);


// buttons
@mixin button-light {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $magenta-color;
    color: $white-color;
    border-radius: 20px; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
}

@mixin button-light-secondary {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $gray-color;
    color: $black-color;
    border-radius: 20px; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
}

@mixin button-access {      
    padding: 0.5rem 1rem;
    font-size: $body-fontsize;
    font-weight: bold;    
    border-radius: 10px; 
    cursor: pointer; 
    
}

@mixin button-access-hover {

}



// sizing
$width-desktop: 80%;
$width-mobile: 100%;
$margin-mobile: 1rem;
$breakpoint1: 1600px;
$breakpoint2: 1200px;
$breakpoint3: 800px;
