// light mode color palette
$white-color: #FFFFFF;
$gray-color: #E7E7E7;
$black-color: #131B23;
$magenta-color: #A60067;
$pink-color: #FFA9F9;

$vertical-gradient-nav: linear-gradient(180deg, $gray-color, $white-color);


// dark mode color additions
$darkgray-color: #3E4B57;
$yellow-color: #FFF7AD;
$horizontal-gradient-dark: linear-gradient(90deg, $yellow-color, $pink-color);
$vertical-gradient-dark: linear-gradient(180deg, $yellow-color, $pink-color);


// buttons
@mixin hero-button-light {
    text-decoration: none;   
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $magenta-color;
    color: $white-color;
    border-radius: 20px;    
}

@mixin primary-button-light {
    text-decoration: none;
    
}