// light mode color palette
$white-color: #FFFFFF;
$gray-color: #E7E7E7;
$black-color: #131B23;
$magenta-color: #A60067;
$pink-color: #FFA9F9;
$horizontal-gradient-light: linear-gradient(45deg, $magenta-color, $pink-color);
$vertical-gradient-nav: linear-gradient(180deg, $gray-color 60%, $white-color);


// dark mode color additions
$darkgray-color: #2c343d;
$darkblue-color: #182750;

$horizontal-gradient-dark: linear-gradient(45deg,  $pink-color, $white-color);
$vertical-gradient-nav-dark: linear-gradient(180deg, $darkblue-color 60%, $darkgray-color);

$box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
$box-shadow-intense: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$box-shadow-light: rgb(255, 255, 255, 0.2) 0px 10px 20px, rgba(255, 255, 255, 0.5) 0px 6px 6px;


// buttons
@mixin button-light {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: $magenta-color;
    color: $white-color;
    border-radius: 20px; 
    box-shadow: $box-shadow-intense;
    margin: 0;    
}

@mixin button-light-secondary {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $gray-color;
    color: $black-color;
    border-radius: 20px; 
    box-shadow: $box-shadow;
    transition: all 0.2s ease-in-out;     
}

@mixin button-access {      
    padding: 0.5rem 1rem;
    font-size: $body-fontsize;
    font-weight: bold;    
    border-radius: 10px; 
    cursor: pointer;      
}

@mixin button-dark {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $pink-color;
    color: $black-color;
    border-radius: 20px; 
    box-shadow: $box-shadow-intense;      
}

// button hover effects
@mixin button-light-hover {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: $horizontal-gradient-light;
    color: $white-color;
    border-radius: 20px; 
    box-shadow: $box-shadow-intense; 
    font-style: italic;   
}

@mixin button-light-secondary-hover {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $darkgray-color;
    color: $white-color;
    border-radius: 20px; 
    box-shadow: $box-shadow;
    font-style: italic;    
}

@mixin button-secondary-dark-hover {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $white-color;
    color: $black-color;
    border-radius: 20px; 
    box-shadow: $box-shadow-intense;
    font-style: italic;    
}

@mixin button-dark-hover {
    text-decoration: none; 
    cursor: pointer;  
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: $horizontal-gradient-dark;
    color: $black-color;
    border-radius: 20px; 
    box-shadow: $box-shadow-intense;
    font-style: italic;      
}



// sizing
$width-desktop: 80%;
$width-mobile: 100%;

$breakpoint1: 400px;
$breakpoint2: 500px;
$breakpoint3: 800px;
$breakpoint4: 1200px;
$breakpoint5: 1500px;
