@import '../../sassStyles/pages';

.difference--container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.difference--container h2 {
    margin-bottom: 2rem;
}

@media screen and (min-width: 650px) {
    .difference--container {
        grid-template-columns: 1fr 1fr;
    }

    .difference--container h2 {
        text-align: left;
        padding-left: 2.5rem;
    }
}