@import './sassStyles/animations';
@import './sassStyles/typography';
@import './sassStyles/variables';

.App {
    background-color: $white-color;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}