@import './sassStyles/animations';
@import './sassStyles/typography';
@import './sassStyles/variables';

.App {
    background-color: $white-color;       
    font-family: $primary-font; 
    color: $black-color;
    width: 100%;
}

.App-dark {
    background-color: $darkgray-color;
    color: $white-color;
    font-family: $primary-font;
    width: 100%;
}

#app--container {
    display: grid;
    grid-template-columns: 1fr;   
    width: 100%;
}



