@import './sassStyles/animations';
@import './sassStyles/typography';
@import './sassStyles/variables';

.App {
    background-color: $white-color;       
    font-family: $primary-font; 
    color: $black-color;
}

.App-dark {
    background-color: $darkgray-color;
    color: $white-color;
    font-family: $primary-font;
}

#app--container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

